<!doctype <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Page Title</title>

</head>
<body>
    <nav>
    </nav>
    
    <div id="main-section">
        <div id="room-edit">
            <input type="text" id="room_name" placeholder="Room name">
            <button id="create_room" type="button">Create room</button>
            <button id="create_private_room" type="button">Create private room</button>
            <button id="delete_room" type="button">Delete room</button>
        </div>

        <div id="invite-section">
            <br>
            <input type="text" id="invite_name" placeholder="Username">
            <button id="invite" type="button">Send invite</button>
        </div>

        </nav>
        <div id="all_rooms">
            <h4>ROOMS</h4>
            {% for room in rooms %}
                <p class="select-room">{{ room|title }}</p>
            {% endfor %}
            <h4>PRIVATE ROOMS</h4>
            {% for private_room in private_rooms %}
                <p class="select-room">{{ private_room|title }}</p>
            {% endfor %}
        </div>
        <nav id="sidebar">

        <div id="rightside-panel">
            <div id="display-message-section">

            </div>
            <div id="input-area">
                <input type="text" id="user_message" placeholder="Type here">
                <button type="button" id="send_message">Send</button>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        const username = `{{ username }}`;
    </script>

    <script src="{{ url_for('static', filename='scripts/chat_page.js') }}"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='scripts/socketio.js')}}"></script>


</body>
</html>